<div
class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom">
</div>
<h5 style="text-align: center;">Form Control AND FormGroup</h5>
<div
class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom">
</div>
<div class="row">
  <div class="col-sm-6 offset-3">
    <div class="text-center">
      <h4>Sign Up</h4>
    </div>

    <form [formGroup]="userForm" (ngSubmit)="submit()">

      <label for="username">UserName</label>
      <input formControlName="username" type="text" class="form-control" id="username" placeholder="Username" />


      <label for="password">Password</label>
      <input formControlName="password" type="text" class="form-control" id="username" placeholder="Password" />


      <label for="confirmpassword">ConfirmPassword</label>
      <input formControlName="confirmpassword" type="text" class="form-control" id="username"
        placeholder="ConfirmPassword" />







      <section formGroupName="address">

        <div class="form-row">


          <div class="form-group col-md-6">
            <label for="street">Street</label>
            <input formControlName="street" type="text" class="form-control" id="street" placeholder="Street" />
          </div>

          <div class="form-group col-md-4">
            <label for="city">City</label>
            <input formControlName="city" type="text" class="form-control" id="city" placeholder="City" />

          </div>


          <div class="form-group col-md-4">
            <label for="state">State</label>
            <select formControlName="state" type="text" class="form-control" id="state" placeholder="State">
              <option value="" disabled>choose state</option>

              <option *ngFor="let state of stateOptions" [ngValue]="state">

                {{state}}
              </option>
            </select>


          </div>



          <div class="form-group col-md-4">
            <label for="zip">Zip</label>
            <input formControlName="zip" type="text" class="form-control" id="zip" placeholder="Zip" />

          </div>


        </div>



      </section>

      <p>
        <button class="btn btn-success" type="submit">
          <i class="fas fa-save"></i>Save
        </button>
        <button (click)="clear()" style="margin: 2vh;" class="btn btn-warning">
          <i class="fas fa-snowplow"></i>clear
        </button>
        <button class="btn btn-info" (click)="autoFillAddress()">
          AutoFillAddress
        </button>

      </p>


    </form>
    <!--
    <div class="form-group">
      <input [formControl]="name" type="text" class="form-control" id="name" placeholder="name" />
    </div> -->
    <div>

      <h3>Individual Input Name Not in FormGroup</h3>

      <label for="name">Name</label>
      <input [formControl]="name" type="text" class="form-control" id="Name" placeholder="Name" />

      <button (click)="clear_name()" style="margin: 2vh;" class="btn btn-warning" type="submit">
        <i class="fas fa-snowplow"></i>clear_name
      </button>


    </div>


  </div>
</div>

