<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom">
</div>
<h5 style="text-align: center;">FormBuilder
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom">
  </div>



  <button (click)="print()" class="btn btn-warning">
    stu1
  </button>



  <div class="row">
    <div class="col-sm-6 offset-3">
      <div class="text-center">
        <h4>Sign Up</h4>

        <form [formGroup]="userForm" (ngSubmit)="formSubmit()">


          <label for="username">UserName</label>
          <input formControlName="username"
            [ngClass]="{'is-invalid':userNameControl?.touched && userNameControl?.invalid}" type="text"
            class="form-control" id="UserName" placeholder="Username" />

          <label for="password">Password</label>
          <input formControlName="password"
            [ngClass]="{'is-invalid':passwordControl?.touched &&  passwordControl?.invalid}" type="password"
            class="form-control" id="Password" placeholder="Password" />

          <label for="confirmpassword">Confirm Password</label>
          <input formControlName="confirmpassword"
            [ngClass]="{'is-invalid':confirmPasswordControl?.touched &&  confirmPasswordControl?.invalid}"
            type="password" class="form-control" id="Password" placeholder="confirm Password" />


          <section formGroupName="address">

            <label for="street">Street</label>
            <input formControlName="street"
              [ngClass]="{'is-invalid': addressStreetControl?.touched && addressStreetControl?.invalid}" type="text"
              class="form-control" id="Street" placeholder="Street" />

            <label for="city">City</label>
            <input formControlName="city"
              [ngClass]="{'is-invalid':addressCityControl?.touched && addressCityControl?.invalid}" type="text"
              class="form-control" id="City" placeholder="City" />



            <label for="state">State</label>
            <input formControlName="state"
              [ngClass]="{'is-invalid':addressCityControl?.touched && addressCityControl?.invalid}" type="text"
              class="form-control" id="State" placeholder="State" />

            <label for="zip">Zip</label>
            <input formControlName="zip"
              [ngClass]="{'is-invalid':addressZipControl?.touched && addressZipControl?.invalid}" type="text"
              class="form-control" id="Zip" placeholder="Zip" />

                <div *ngIf="addressZipControl?.invalid">
                <span>Zip Field is required </span>
              </div>


          </section>


          <button class="btn btn-success" type="submit">
            <i class="fas fa-save"></i>Save
          </button>

          <button class="btn btn-info" (click)="autoFillFormAddress()">
            AutoFillAddress
          </button>

          <button (click)="clear()" style="margin: 2vh;" class="btn btn-warning">
            <i class="fas fa-snowplow"></i>clear
          </button>


          <p>
            FormStatus:{{userForm.status}}
          </p>


        </form>

      </div>
